* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
:root {
    --color-main : #ffcc01 ;
    --color-link : #0f5f73
}
section {
    padding: 50px
}

.main-form span {
    cursor: pointer;
}
.main-form span i{
    background-color: var(--color-main) !important;
    padding: 20px 25px;   
}
.info h2 {
    color:  var(--color-link);
    font-size: 40px;
    margin-bottom: 40px
}
.info p {
    font-size: 15px;
    font-weight: 200;
    line-height: 2;
    text-align: left;
    color: var(--color-link);
    width: 50%;
    margin-bottom: 40px
}
@media (max-width:400px) {
    .info h2 {
        font-size: 30px;
        margin-bottom: 22px;
    }
}
@media (max-width:681px) {
    .info p {
        width: 100%;
 
    }
}